@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    One way softwares<br />
    Pune, MH-46<br />
    <abbr title="Phone">P:</abbr>
    800 794 7892
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">rinkeshkatara@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">rinkeshkatara@gmail.com</a>
</address>