@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contact Repository</h1>
    <p class="lead">Contact Repository is the interface to maintain contact information.</p>
    <p><a href="~/Contact/GetAllCt" class="btn btn-primary btn-lg">Click Here &raquo;</a></p>
</div>

